<h1>Menu List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Availability</th>
  </tr>

  <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.name %></td>
      <td><%= menu.description %></td>
      <td><%= menu.is_available %></td>
    </tr>
  <% end %>
</table>

